<div class="section">
  <div class="user_container_left">
    <img src=<%= @user.photo %> />
  </div>
  <div class="user_container_right">
    <a href=<%= user_path(@user) %>>
      <h2 class="author"><%= @user.name %></h2>
    </a>
    <span id="posts_num">Number of posts: <%= @user.posts.count %></span>

    
  <%= form_with url: '/users/sign_out', method: :delete do |f| %>
    <%= f.submit "Log out", class: 'submit' %>
  <% end %>
</div>






  </div>
</div>