<section class="post_page">
  <article class="flex-column author_post">
    <div class="flex-btw">
      <a href=<%= user_post_path(@user, @post) %>>
        <p class="bold" id="post-title"><%= "#{@post.user.name}: #{@post.title}" %></p>
      </a>
      <span>Comments: <%= @post.comments.count%>, Likes: <%= @post.likes_counter %> </span>
    </div>
    <p><%= @post.text.length > 50 ? @post.text[0, 50] + '...' : @post.text  %></p>
  </article>

  <%= render partial: "shared/comment", locals: {post: @post} %>

  <div class="user_reaction">
    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>
    <a href=<%= new_user_post_comment_path(@user, @post) %> class="comment_link">
      Comment
    </a>
    <%= form_with model: @like, url: user_post_likes_path(@user, @post), method: :post, local: true do |f| %>
      <%= f.submit "Like", class: 'submit' %>
    <% end %>
  </div>
</section>